
h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 0;
}

h2 {
  text-align: center;
  font-size: 42px;
}

body{
  color: white;
  margin: 0;
}

#demo {
  text-align: center;
  font-size: 13px;
}

#bluebox {
  margin: auto;
  background-color: #6A95F2;
  height: 50px;
  width: 30%;
  border-radius: 30px;
}

#schedule {
  color: white;
  size: 20px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.main-page {
  position: relative;
  background: linear-gradient(rgba(60, 70, 100, 0.6), rgba(60, 70, 100, 0.6)),
    url(https://bankjoy.com/assets/images/backgrounds/background.jpg);
  background-position: top;
  background-size: cover;
  height: 100vh;
}

.contact {
  font-family: serif;
  font-size: 18px;
  text-align: right;
  padding: 30px;
  color: white;
}

#phone-number {
  margin: 0 10px;
}

#phone-number:hover {
  color: rgba(60, 30, 100, 0.8);
}

#email {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

#email:hover {
  color: rgba(60, 30, 100, 0.8);
}

.phones{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
}

.phones img {
  width: 333px;
  position: relative;
}

#phone-left {
  margin-right: -150px;
  z-index: 0;
}

#phone-right {
  z-index: 2;
  margin-left: -120px;
}
#phone-center {
  margin-bottom: 20px;
  z-index: 5;
}

#left-shadow {
  display: inline-block;
  position: fixed;
  margin-left: -50px;
  margin-top: 20px;
  width: 110px;
  height: 650px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0));
  border-radius: 30px;
}

#right-shadow {
  display: inline-block;
  position: fixed;
  margin-left: -50px;
  margin-top: 20px;
  width: 110px;
  height: 650px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0));
  z-index: 4;
  border-radius: 30px;
}
