h1 {
  text-align: center;
  font-size: 50px;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 42px;
  margin: 0;
}

p#demo {
  text-align: center;
  font-size: 13px;
  margin: 0;
}

div#bluebox {
  margin: auto;
  background-color: #6A95F2;
  height: 50px;
  width: 30%;
  border-radius: 30px;
}

p#schedule {
  color: white;
  size: 20px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

body{
  margin: 0;
}
